body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; /* Black background */
}

.container {
    text-align: center;
}

.lattice-container {
    position: relative;
}

canvas {
    display: block;
}

.controls {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    color: white;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

input[type="range"],
input[type="number"] {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #444;
    color: white;
}

input[type="number"] {
    width: 80px;
    text-align: center;
}
